# file path: ~/.npmrc
# ustc, doc: https://lug.ustc.edu.cn/wiki/mirrors/help/npm
registry=https://npmreg.proxy.ustclug.org/

# taobao, doc: https://npmmirror.com/
#registry=https://registry.npmmirror.com/
